---
import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter.svelte';
import AstroHeart from '../components/AstroHeart.astro';
---

<BaseLayout pageTitle="Homepage">
  <div class="m-auto mt-8 w-max">
    <Counter client:load />
    <AstroHeart />
  </div>
</BaseLayout>

<style>
  h2 {
    color: navy;
  }
</style>
