---
import BaseLayout from '../layouts/BaseLayout.astro';
import Counter from '../components/Counter.svelte';
import AstroHeart from '../components/AstroHeart.astro';
import { turso } from '../turso';

const { rows: posts } = await turso.execute('SELECT * FROM posts');
---

<BaseLayout pageTitle="Homepage">
  <div class="m-auto mt-8 w-max">
    <Counter client:load />
    <AstroHeart />
  </div>
  <div class="m-auto mt-4 max-w-max">
    <h2 class="my-2 text-2xl text-blue-700">Posts from database</h2>

    {
      posts.map(({ author, body }) => (
        <article class="p-2 border-gray-300 border-1">
          <p>Autore: {author}</p>
          <p>{body}</p>
        </article>
      ))
    }
  </div>
</BaseLayout>
