---
const pathname = import.meta.env.BASE_URL;
---

<header class="flex justify-center mb-4 overflow-x-visible">
  <menu class="flex justify-center gap-8 list-none">
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`${pathname}/`>Home</a>
    </li>
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`${pathname}/countries`>Countries</a>
    </li>
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`${pathname}/admin/create-post`
        >Create Post</a
      >
    </li>
  </menu>
</header>
