<header class="flex justify-center mb-4 overflow-x-visible">
  <menu class="flex justify-center gap-8 list-none">
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`/`>Home</a>
    </li>
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`/countries`>Countries</a>
    </li>
    <li class="cursor-pointer">
      <a class="text-2xl underline" href=`/admin/create-post`>Create Post</a>
    </li>
  </menu>
</header>
